.buy-service {

  display: flex;
  margin: 8 * $gutter 2 * $gutter 5 * $gutter 2 * $gutter;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: 700px) {
    margin-top: 5 * $gutter;
  }

  @media (max-width: 500px) {
    margin-top: 5 * $gutter;
  }

  &__text {
    font-family: "Roboto Slab", serif;
    font-size: 1.3125rem;
    font-weight: bolder;
  }

  &__button {
    display: flex;
    width: 11 * $gutter;
    padding: $gutter / 4 $gutter / 2;
    margin-top: $gutter;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;

    cursor: pointer;
    background: #666;
    border: 1px solid #666;
    border-radius: 4px;
  }

  &__button:hover {
    color: #eee;
    background-color: #333;

    transition-timing-function: ease;
    transition-duration: 500ms;
  }

  &__link {
    color: #fff;
    text-decoration: none;
  }

}
