.footer {
  background-color: #323232;

  &__above {

    display: flex;
    padding-top: $gutter;
    padding-bottom: 2 * $gutter;
    margin: 0 20%;
    justify-content: space-around;
    color: #fff;
  }

  &__phone,
  &__about {
    text-align: center;
  }

  &__below {

    display: flex;
    padding: $gutter;
    margin: 0 2 * $gutter;
    justify-content: center;
    color: #a4a4a4;
    border-top: 1px solid #fff;

  }

}
