$shadowCol: #bebebe;
$gray: #808080;

.information {
  display: flex;
  max-width: 100%;
  font-weight: bold;
  flex-direction: column;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-around;
  }

  &__headline {
    font-family: "Roboto Slab", serif;
    font-size: 24px;
  }
}

.personal {
  display: flex;
  max-width: $max-width/3;
  margin: $gutter;
  flex-direction: column;
  flex-grow: 1;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__radioUL {
    list-style-type: none;

    .personal__radioL {
      margin-top: $gutter;

    }
  }

}

.form__radioButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  top: 4px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 2px solid $shadowCol;
  border-radius: 50%;

  outline: none;

  &:checked {
    border: 6px solid $gray;
  }

  &:focus {
    box-shadow: 0 0 3px 4px $shadowCol;
  }
}

.label {
  margin-top: $gutter;
}

.form__text {
  padding: 3px;
  border: solid 1px $gray;
  border-radius: 3px;

  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px $shadowCol;
  }
}

.payment {
  display: flex;
  max-width: $max-width/3;
  margin: $gutter;
  flex-direction: column;
  flex-grow: 1;

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.form__check {
  margin-top: $gutter;
}

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  vertical-align: middle;
  border: 2px solid $gray;
  border-radius: 10%;
  outline: none;

  &:checked {
    background-color: $gray;
  }

  &:checked::after {
    position: relative;
    top: -6px;
    font-size: 9px;
    color: #fff;
    content: "\2714";
  }

  &:focus {
    box-shadow: 0 0 3px 4px $shadowCol;
  }
}

.order-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    padding: ($gutter / 2) (5 * $gutter);
    margin-top: $gutter / 2;
    margin-bottom: $gutter * 4;
    font-size: 1rem;
    color: #dedede;

    cursor: pointer;
    background: #666;
    border: 1px solid #666;
    border-radius: 4px;
  }

  button:hover {
    background-color: #333;

    transition-timing-function: ease;
    transition-duration: 500ms;
  }

}

.form__date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__input {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }

  &__dropdown {
    width: 33%;

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 2px $shadowCol;
    }
  }

}

.form__dropdown__payment {
  &:focus {
    outline: none;
    box-shadow: 0 0 2px 2px $shadowCol;
  }
}
select > option {
    outline: none;
    box-shadow: 0 0 2px 2px $shadowCol;
}
