.review {
  display: flex;
  margin: 0 2 * $gutter;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 700px) {
    justify-content: space-around;
    margin: 0 $gutter;
  }

  @media (max-width: 500px) {
    margin: 0 $gutter;
    flex-direction: column;
    justify-content: space-around;
  }

  &__person {
    max-width: 32%;

    @media (max-width: 700px) {
      max-width: 49%;
      margin-bottom: 2 * $gutter;
    }

    @media (max-width: 500px) {
      max-width: 100%;
      margin-bottom: 3 * $gutter;
    }

  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 80%;
    border-radius: 100%;
  }

  &__quote {

    display: flex;
    height: 3.9rem;
    margin-bottom: $gutter / 2;
    justify-content: center;
    align-items: center;

    font-size: 1.3125rem;
    font-style: italic;
    font-weight: 600;
    text-align: center;

    @media (max-width: 700px) {
      height: auto;
    }

    @media (max-width: 500px) {
      height: auto;
    }

  }

  &__name {
    font-weight: 600;
    text-align: center;
  }

  &__subscription {

    font-size: 0.875rem;
    color: #727272;
    text-align: center;
  }

}
