.service {
  display: flex;
  margin: 8 * $gutter $gutter;
  justify-content: space-between;

  @media (max-width: 700px) {
    margin: 3 * $gutter $gutter;
    flex-direction: column;
  }

  &__image {
    max-width: 49.167%;

    @media (max-width: 700px) {
      max-width: 100%;
    }

  }

  &__list {

    display: flex;
    max-width: 47%;
    margin-left: $gutter;

    @media (max-width: 700px) {
      max-width: 100%;
      margin-bottom: 3 * $gutter;
    }

    &__heading4 {
      padding-right: 0.5rem;
      padding-left: 1.7rem;
      font-family: "Roboto Slab", serif;
      font-size: 1.125rem;

      background-image: url("check.svg");
      background-repeat: no-repeat;
      background-size: 1.5rem;
    }

    &__p {
      padding-right: 0.5rem;
      padding-left: 1.7rem;
    }

    &__unordered-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    li {
      list-style: none;

      @media (max-width: 700px) {
        margin-bottom: $gutter;
      }
    }

  }
}
