.banner {

  display: flex;
  height: 50vh;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  color: #fff;
  background: transparent url("bg-subpage.jpg") no-repeat scroll;
  background-position: 50% 50%;
  background-size: cover;
  align-items: center;

  &__heading1 {
    margin-left: 2 * $gutter;

    @media (max-width: 500px) {
      word-break: break-all;
    }
  }
}

.about-fooservice {
  margin: 4 * $gutter 2 * $gutter;

  &__heading3 {
    font-family: "Roboto Slab", serif;
  }

  :nth-child(2),
  :nth-child(3),
  :nth-child(5),
  :nth-child(6) {
    margin: $gutter 0;
  }

  :nth-child(5) {
    max-width: 41.2%;

    @media (max-width: 800px) {
      max-width: 100%;
    }

  }

  .quote {
    float: right;
    max-width: 49%;
    margin: 2 * $gutter;
    font-size: 1.5rem;
    font-style: italic;

    @media (max-width: 500px) {
      float: none;
      max-width: 100%;
      margin: $gutter;
    }

  }

  .quote-footer {
    margin: $gutter 0;
    font-size: 0.875rem;
    font-style: normal;

  }

}
