@charset "UTF-8";
/* setjum box-sizing: border-box; á allt */
html {
  /* stylelint-disable-line */
  box-sizing: border-box; }

*, *:before, *:after {
  /* stylelint-disable-line */
  box-sizing: inherit;
  /* fjarlægjum margin og padding */
  padding: 0;
  margin: 0; }

html {
  /* stylelint-disable-line */
  margin-right: 20px;
  margin-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 1200px) {
    html {
      margin: 0; } }

img {
  /* stylelint-disable-line */
  max-width: 100%; }

main {
  /* stylelint-disable-line */
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden; }

.menubar {
  position: fixed;
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7); }
  @media (max-width: 1200px) {
    .menubar {
      width: calc(100% - 40px); } }
  .menubar__name {
    margin: 10px 10px 10px 20px;
    font-family: "Roboto Slab", serif;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff; }
  .menubar__other-sites {
    display: flex; }
  .menubar__um {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center; }
  .menubar .menu-button {
    display: flex;
    padding: 5px 10px;
    margin: 10px 20px 10px 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #666;
    border: 1px solid #666;
    border-radius: 4px; }
    @media (max-width: 400px) {
      .menubar .menu-button {
        display: none; } }
  .menubar .menu-button:hover {
    color: #eee;
    background-color: #333;
    transition-timing-function: ease;
    transition-duration: 500ms; }
  .menubar__link {
    color: #fff;
    text-decoration: none; }

.heading {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
  flex-direction: column;
  background: transparent url("bg.jpg") no-repeat fixed 50% 50%;
  background-size: 1200px;
  justify-content: center;
  align-items: center; }
  .heading__text {
    display: flex;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
    font-size: 2rem;
    flex-direction: column;
    align-items: center; }
    .heading__text__heading3 {
      font-size: 2rem;
      font-weight: 400;
      opacity: 0;
      animation-name: texti;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      animation-delay: 1s; }
    .heading__text__heading1 {
      margin-bottom: 20px;
      font-size: 4rem;
      opacity: 0;
      animation-name: texti;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
      animation-delay: 2s; }
  .heading__button {
    display: flex;
    width: 100px;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    background: #666;
    border: 1px solid #666;
    border-radius: 4px;
    opacity: 0;
    animation-name: texti;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 3s; }
    @media (max-width: 400px) {
      .heading__button {
        display: none; } }
  .heading__button:hover {
    color: #eee;
    background-color: #333;
    transition-timing-function: ease;
    transition-duration: 500ms; }
  .heading__link {
    color: #fff;
    text-decoration: none; }

@keyframes texti {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.service {
  display: flex;
  margin: 160px 20px;
  justify-content: space-between; }
  @media (max-width: 700px) {
    .service {
      margin: 60px 20px;
      flex-direction: column; } }
  .service__image {
    max-width: 49.167%; }
    @media (max-width: 700px) {
      .service__image {
        max-width: 100%; } }
  .service__list {
    display: flex;
    max-width: 47%;
    margin-left: 20px; }
    @media (max-width: 700px) {
      .service__list {
        max-width: 100%;
        margin-bottom: 60px; } }
    .service__list__heading4 {
      padding-right: 0.5rem;
      padding-left: 1.7rem;
      font-family: "Roboto Slab", serif;
      font-size: 1.125rem;
      background-image: url("check.svg");
      background-repeat: no-repeat;
      background-size: 1.5rem; }
    .service__list__p {
      padding-right: 0.5rem;
      padding-left: 1.7rem; }
    .service__list__unordered-list {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
    .service__list li {
      list-style: none; }
      @media (max-width: 700px) {
        .service__list li {
          margin-bottom: 20px; } }

.review {
  display: flex;
  margin: 0 40px;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 700px) {
    .review {
      justify-content: space-around;
      margin: 0 20px; } }
  @media (max-width: 500px) {
    .review {
      margin: 0 20px;
      flex-direction: column;
      justify-content: space-around; } }
  .review__person {
    max-width: 32%; }
    @media (max-width: 700px) {
      .review__person {
        max-width: 49%;
        margin-bottom: 40px; } }
    @media (max-width: 500px) {
      .review__person {
        max-width: 100%;
        margin-bottom: 60px; } }
  .review__image {
    display: flex;
    align-items: center;
    justify-content: center; }
  .review__img {
    max-width: 80%;
    border-radius: 100%; }
  .review__quote {
    display: flex;
    height: 3.9rem;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    font-size: 1.3125rem;
    font-style: italic;
    font-weight: 600;
    text-align: center; }
    @media (max-width: 700px) {
      .review__quote {
        height: auto; } }
    @media (max-width: 500px) {
      .review__quote {
        height: auto; } }
  .review__name {
    font-weight: 600;
    text-align: center; }
  .review__subscription {
    font-size: 0.875rem;
    color: #727272;
    text-align: center; }

.buy-service {
  display: flex;
  margin: 160px 40px 100px 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 700px) {
    .buy-service {
      margin-top: 100px; } }
  @media (max-width: 500px) {
    .buy-service {
      margin-top: 100px; } }
  .buy-service__text {
    font-family: "Roboto Slab", serif;
    font-size: 1.3125rem;
    font-weight: bolder; }
  .buy-service__button {
    display: flex;
    width: 220px;
    padding: 5px 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    cursor: pointer;
    background: #666;
    border: 1px solid #666;
    border-radius: 4px; }
  .buy-service__button:hover {
    color: #eee;
    background-color: #333;
    transition-timing-function: ease;
    transition-duration: 500ms; }
  .buy-service__link {
    color: #fff;
    text-decoration: none; }

.footer {
  background-color: #323232; }
  .footer__above {
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
    margin: 0 20%;
    justify-content: space-around;
    color: #fff; }
  .footer__phone, .footer__about {
    text-align: center; }
  .footer__below {
    display: flex;
    padding: 20px;
    margin: 0 40px;
    justify-content: center;
    color: #a4a4a4;
    border-top: 1px solid #fff; }

.banner {
  display: flex;
  height: 50vh;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  color: #fff;
  background: transparent url("bg-subpage.jpg") no-repeat scroll;
  background-position: 50% 50%;
  background-size: cover;
  align-items: center; }
  .banner__heading1 {
    margin-left: 40px; }
    @media (max-width: 500px) {
      .banner__heading1 {
        word-break: break-all; } }

.about-fooservice {
  margin: 80px 40px; }
  .about-fooservice__heading3 {
    font-family: "Roboto Slab", serif; }
  .about-fooservice :nth-child(2),
  .about-fooservice :nth-child(3),
  .about-fooservice :nth-child(5),
  .about-fooservice :nth-child(6) {
    margin: 20px 0; }
  .about-fooservice :nth-child(5) {
    max-width: 41.2%; }
    @media (max-width: 800px) {
      .about-fooservice :nth-child(5) {
        max-width: 100%; } }
  .about-fooservice .quote {
    float: right;
    max-width: 49%;
    margin: 40px;
    font-size: 1.5rem;
    font-style: italic; }
    @media (max-width: 500px) {
      .about-fooservice .quote {
        float: none;
        max-width: 100%;
        margin: 20px; } }
  .about-fooservice .quote-footer {
    margin: 20px 0;
    font-size: 0.875rem;
    font-style: normal; }

.information {
  display: flex;
  max-width: 100%;
  font-weight: bold;
  flex-direction: column; }
  @media (min-width: 600px) {
    .information {
      flex-direction: row;
      justify-content: space-around; } }
  .information__headline {
    font-family: "Roboto Slab", serif;
    font-size: 24px; }

.personal {
  display: flex;
  max-width: 400px;
  margin: 20px;
  flex-direction: column;
  flex-grow: 1; }
  .personal__form {
    display: flex;
    flex-direction: column; }
  .personal__radioUL {
    list-style-type: none; }
    .personal__radioUL .personal__radioL {
      margin-top: 20px; }

.form__radioButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 4px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 2px solid #bebebe;
  border-radius: 50%;
  outline: none; }
  .form__radioButton:checked {
    border: 6px solid #808080; }
  .form__radioButton:focus {
    box-shadow: 0 0 3px 4px #bebebe; }

.label {
  margin-top: 20px; }

.form__text {
  padding: 3px;
  border: solid 1px #808080;
  border-radius: 3px; }
  .form__text:focus {
    outline: none;
    box-shadow: 0 0 2px 2px #bebebe; }

.payment {
  display: flex;
  max-width: 400px;
  margin: 20px;
  flex-direction: column;
  flex-grow: 1; }
  .payment__form {
    display: flex;
    flex-direction: column; }

.form__check {
  margin-top: 20px; }

.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  vertical-align: middle;
  border: 2px solid #808080;
  border-radius: 10%;
  outline: none; }
  .form__checkbox:checked {
    background-color: #808080; }
  .form__checkbox:checked::after {
    position: relative;
    top: -6px;
    font-size: 9px;
    color: #fff;
    content: "\2714"; }
  .form__checkbox:focus {
    box-shadow: 0 0 3px 4px #bebebe; }

.order-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .order-service__order-button {
    padding: 10px 100px;
    margin-top: 10px;
    margin-bottom: 80px;
    font-size: 1rem;
    color: #dedede;
    cursor: pointer;
    background: #666;
    border: 1px solid #666;
    border-radius: 4px; }
  .order-service__order__button:hover {
    background-color: #333;
    transition-timing-function: ease;
    transition-duration: 500ms; }

.form__date {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .form__date__input {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%; }
  .form__date__dropdown {
    width: 33%; }
    .form__date__dropdown:focus {
      outline: none;
      box-shadow: 0 0 2px 2px #bebebe; }

.form__dropdown__payment:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #bebebe; }
